/* .ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #0b0c10;
  width: 100%;
  margin-left: -30px;
  border-bottom: solid 2px #66fcf1;
} */

.navbar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  background-color: #0b0c10;
  border-bottom: solid 2px #66fcf1;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  z-index: 9999;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #66fcf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #66fcf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
  cursor: pointer;
  color: #66fcf1;
  background-color: #1f2833;
}

.navbar-default .navbar-brand {
  color: #66fcf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li a:hover {
  cursor: pointer;
  background-color: #1f2833;
}

.about {
  padding-top: 100px;
  margin-top: -10px;
  padding-bottom: 500px;
  width: 100%;
  padding-left: 15px;
  margin: 0px auto;
  background-color: white;
}

.info {
  margin-top: 15%;
  margin-left: 25%;
}
.info2 {
  margin-left: 25%;
}
.info3 {
  margin-left: 25%;
}
.info4 {
  margin-left: 25%;
}
.info5 {
  margin-left: 25%;
}
.info6 {
  margin-left: 25%;
}

@media (max-width: 900px) {
  .info {
    margin-top: 15%;
    margin-left: 5%;
  }
  .info2 {
    margin-left: 5%;
  }
  .info3 {
    margin-left: 5%;
  }
  .info4 {
    margin-left: 5%;
  }
  .info5 {
    margin-left: 5%;
  }
  .info6 {
    margin-left: 5%;
  }
}

.css-typing p {
  font-family: "Courier";
  font-size: 14px;
  width: 50em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
}

.css-typing p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 19.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 23.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

span {
  animation: blink 1s infinite;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ----=Home=---- */

.home-title2 {
  color: #0b0c10;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-animation-name: title-slide;
  -webkit-animation-duration: 1.5s;
  animation-name: title-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

.my-social {
  margin-bottom: 250px;
  margin-left: 0px;
}

.my-social2 {
  -webkit-animation-name: social-slide;
  -webkit-animation-duration: 1s;
  animation-name: social-slide;
  animation-duration: 1s;
}

@-webkit-keyframes social-slide {
  from {
    margin-left: -600px;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes social-slide {
  from {
    margin-left: -600px;
  }
  to {
    margin-left: 0%;
  }
}

.social li {
  margin-top: 20px;
  /* text-align: center; */
  font-size: 25px;
  margin-right: 30px;
  display: inline-block;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.github-icon {
  padding: 8px 8px 8px 8px;
  background-color: #66fcf1;
  margin-left: -18px;
  border: solid 1px #0b0c10;
  width: 50px;
  border-radius: 4px;
  z-index: 9999;
  color: white;
}

.github-icon:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #07e1e9;
}

.contact {
  text-align: center;
}

.linkedin-icon:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #07e1e9;
}

.linkedin-icon {
  padding: 8px 8px 8px 8px;
  background-color: #66fcf1;
  margin-left: -18px;
  border: solid 1px #0b0c10;
  width: 50px;
  border-radius: 4px;
  z-index: 9999;
  color: white;
}

.my-skills {
  margin-top: 100px;
  margin-left: 10%;
  /* margin-bottom: 120px; */
}

.my-skills2 {
  -webkit-animation-name: skills-slide;
  -webkit-animation-duration: 1.5s;
  animation-name: skills-slide;
  animation-duration: 1.5s;
}

.skills-list li {
  text-align: center;
  font-size: 25px;
  margin-right: 4%;
  display: inline-block;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 1300px) {
  .my-skills {
    margin-left: 5%;
  }
}

@media (max-width: 1200px) {
  .my-skills {
    margin-left: 0%;
  }
  .graph-cont {
    margin-left: 340px;
    /* margin-top: -450px; */
  }

  .about-me {
    margin-left: -10%;
  }
}

@media (max-width: 1150px) {
  .skills-list li {
    margin-right: 0px;
  }
  /* .graph-cont {
    margin-top: 0px;
  } */
}

@media (max-width: 960px) {
  .bar {
    visibility: hidden;
  }
  .about-me {
    margin-left: 8%;
  }
  .skills-list li {
    margin-right: 4%;
  }
}

@media (max-width: 500px) {
  .my-skills {
    margin-left: 12%;
  }
  .about-me {
    margin-left: -30px;
  }
}

.fast {
  margin-left: -20px;
  color: #0b0c10;
}

.fast-icon {
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  border: solid 1px #0b0c10;
  width: 120px;
  margin-bottom: 5px;
  border-radius: 4px;
  z-index: 9999;
  color: white;
}

.fast2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
}

.responsive {
  color: #0b0c10;
  margin-left: -10px;
}

.responsive-icon {
  border: solid 1px #0b0c10;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 120px;
  margin-bottom: 5px;
  border-radius: 4px;
  z-index: 9999;
  color: white;
}

.responsive2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
}

.intuitive {
  color: #0b0c10;
  margin-left: -10px;
}

.intuitive-icon {
  border: solid 1px #0b0c10;
  border-radius: 4px;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 120px;
  margin-bottom: 5px;
  z-index: 9999;
  color: white;
}

.intuitive2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
}

.dynamic {
  color: #0b0c10;
  margin-left: -6px;
}

.dynamic-icon {
  border: solid 1px #0b0c10;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 120px;
  margin-bottom: 5px;
  border-radius: 4px;
  z-index: 9999;
  color: white;
}

.dynamic2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
  /* margin-top: -20px; */
}

@-webkit-keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

@keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

.about-me {
  display: inline-block;
  width: 100%;
}

.my-image {
  margin-left: 20%;
  margin-bottom: 50px;
}

.my-image2 {
  -webkit-animation-name: my-image-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: my-image-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes my-image-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes my-image-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.me {
  margin-top: 100px;
  width: 280px;
  border: solid 1px #0b0c10;
  border-radius: 50%;
}

.me-title {
  color: #0b0c10;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 300px;
  text-align: center;
}

.me-description {
  margin-top: -5px;
  color: #0b0c10;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 300px;
  text-align: center;
}

.project-page {
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 135px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 200px;
  padding-bottom: 200px;
  background-color: #1f2833;
}

.resume-projects-ul li {
  color: #66fcf1;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  margin-left: 15%;
  display: inline-block;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project-resume-title {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: #66fcf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project-resume-title2 {
  -webkit-animation-name: project-resume-title-slide;
  -webkit-animation-duration: 1.7s;
  animation-name: project-resume-title-slide;
  animation-duration: 1.7s;
}

@-webkit-keyframes project-resume-title-slide {
  from {
    margin-right: -5600px;
  }
  to {
    text-align: center;
  }
}

@keyframes project-resume-title-slide {
  from {
    margin-right: -5600px;
  }
  to {
    text-align: center;
  }
}

.carousel {
  width: 300px;
  height: 388px;
  border: solid 2px #66fcf1;
  border-radius: 5px;
}

.projects {
  position: absolute;
}

@media (max-width: 700px) {
  .projects {
    position: relative;
  }
}

.resume-projects2 {
  -webkit-animation-name: resume-slide;
  -webkit-animation-duration: 1s;
  animation-name: resume-slide;
  animation-duration: 1s;
}

@-webkit-keyframes resume-slide {
  from {
    margin-right: -5600px;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes resume-slide {
  from {
    margin-right: -5600px;
  }
  to {
    margin-left: 0%;
  }
}

.resume-resume {
  width: 300px;
  border: solid 2px #66fcf1;
  border-radius: 5px;
}

.resume-resume:hover {
  cursor: pointer;
}

.resume-resume2 {
  text-align: center;
  width: 650px;
}

.project-project {
  width: 300px;
  height: 388px;
  border: solid 1px #66fcf1;
  border-radius: 5px;
}

.project-project:hover {
  cursor: pointer;
}
.projects-title {
  font-size: 25px;
}

.resume-title {
  font-size: 25px;
}

.modal-main {
  position: fixed;
  width: 0%;
  height: 25%;
  top: 7%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close {
  z-index: 9999;
  color: black;
  margin-left: -95%;
  margin-top: 30%;
  /* margin-top: 50px; */
  padding: 5px;
}

.modal-close:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

@media (max-width: 1300px) {
  .resume-projects {
    margin-left: -10%;
  }
}

@media (max-width: 1020px) {
  .resume-projects {
    margin-left: -20%;
  }
}

/* @media (max-width: 950px) {
  .resume-projects {
    margin-left: 10%;
  }
} */

@media (max-width: 750px) {
  .resume-projects {
    margin-left: 0%;
  }
}

@media (max-width: 550px) {
  .resume-projects {
    margin-left: -60%;
  }
}

.contact-title {
  text-align: center;
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-title2 {
  -webkit-animation-name: contact-title-slide;
  -webkit-animation-duration: 1s;
  animation-name: contact-title-slide;
  animation-duration: 1s;
}

@-webkit-keyframes contact-title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    text-align: center;
  }
}

@keyframes contact-title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    text-align: center;
  }
}

.contact-form {
  margin-top: 30px;
  text-align: center;
  vertical-align: center;
}

.contact-title-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  background-color: #66fcf1;
  border: solid 2px #0b0c10;
  border-radius: 3px;
  color: #0b0c10;
  width: 500px;
  margin: auto;
  display: block;
  padding: 10px;
  margin-bottom: -10px;
}

.btn {
  transition: 0.5s;
  padding: 5px 15px;
  background-color: #66fcf1;
  border: solid 1px #0b0c10;
  border-radius: 3px;
  color: #0b0c10;
}

.btn:hover {
  cursor: pointer;
  background-color: #07e1e9;
}

textarea {
  background-color: #66fcf1;
  border: solid 2px #0b0c10;
  border-radius: 3px;
  color: #0b0c10;
  width: 30%;
  margin: auto;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
}

.message {
  padding: 30px;
  width: 27.5%;
}

/* .about-me {
  display: inline-block;
  margin-left: 35%;
  margin-top: -450px;
} */

/* @media (max-width: 1000px) {
  .bar {
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .first {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .nav-options {
    margin-right: 20px;
  }
} */

.graph-cont {
  margin-left: 500px;
  margin-top: -450px;
}

.bar {
  height: 30px;
  max-width: 440px;
  margin: 0 auto 15.4px auto;
  line-height: 30px;
  font-size: 16px;
  color: #66fcf1;
  padding: 0 0 0 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  z-index: -1;
}
.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #66fcf1;
}
.bar::after {
  content: "";
  background: #0b0c10;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 90%;
}

.bar2::after {
  max-width: 90%;
}

.bar3::after {
  max-width: 85%;
}

.bar4::after {
  max-width: 80%;
}

.bar5::after {
  max-width: 60%;
}

.bar6::after {
  max-width: 70%;
}

.bar7::after {
  max-width: 60%;
}

.bar8::after {
  max-width: 80%;
}

.bar9::after {
  max-width: 60%;
}
