.ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #0b0c10;
  width: 100%;
  margin-left: -30px;
  border-bottom: solid 2px #66fcf1;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
}

.last {
  margin-right: 100px;
}

.first {
  margin-left: 80px;
}

.nav-options {
  float: right;
}

.nav-options a {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: #66fcf1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-home {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.nav-home a {
  display: block;
  color: #66fcf1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #45a29e;
}

.about {
  padding-top: 100px;
  margin-top: -10px;
  padding-bottom: 500px;
  width: 100%;
  padding-left: 15px;
  margin-left: -7px;
  background-color: white;
}

.info {
  margin-top: 15%;
  margin-left: 25%;
}
.info2 {
  margin-left: 25%;
}
.info3 {
  margin-left: 25%;
}
.info4 {
  margin-left: 25%;
}
.info5 {
  margin-left: 25%;
}
.info6 {
  margin-left: 25%;
}

.css-typing p {
  font-family: "Courier";
  font-size: 14px;
  width: 50em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
}

.css-typing p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 19.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 23.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

span {
  animation: blink 1s infinite;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ----=Home=---- */

.home {
  /* width: 100%;
  padding-top: 500px;
  padding-bottom: 500px; */
}

.home-title2 {
  color: #0b0c10;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation-name: title-slide;
  -webkit-animation-duration: 4s;
  animation-name: title-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

.my-skills {
  margin-top: 100px;
  margin-left: 10%;
}

.my-skills2 {
  -webkit-animation-name: skills-slide;
  -webkit-animation-duration: 4s;
  animation-name: skills-slide;
  animation-duration: 1.5s;
}

.skills-list li {
  text-align: center;
  font-size: 25px;
  margin-right: 4%;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.fast {
  margin-left: -20px;
  color: #0b0c10;
}

.fast-icon {
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  border: solid 1px #0b0c10;
  width: 100px;
  z-index: 9999;
  color: white;
}

.fast2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.responsive {
  color: #0b0c10;
  margin-left: -10px;
}

.responsive-icon {
  border: solid 1px #0b0c10;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.responsive2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.intuitive {
  color: #0b0c10;
  margin-left: -10px;
}

.intuitive-icon {
  border: solid 1px #0b0c10;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.intuitive2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.dynamic {
  color: #0b0c10;
  margin-left: -6px;
}

.dynamic-icon {
  border: solid 1px #0b0c10;
  padding: 16px 16px 16px 16px;
  background-color: #66fcf1;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.dynamic2 {
  color: #0b0c10;
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

@-webkit-keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

@keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

.my-image {
  margin-left: 20%;
  margin-bottom: 50px;
}

.my-image2 {
  -webkit-animation-name: my-image-fade;
  -webkit-animation-duration: 4s;
  animation-name: my-image-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes my-image-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes my-image-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.me {
  margin-top: 100px;
  width: 300px;
  border: solid 1px #0b0c10;
}

/* .me2 {
  visibility: hidden;
} */

.me-title {
  color: #0b0c10;
  margin-top: 0px;
  font-size: 25px;
  margin-left: 8%;
}

.me-description {
  color: #0b0c10;
  margin-top: -20px;
  font-size: 15px;
  width: 300px;
  text-align: center;
}

.project-page {
  /* margin-left: 10%; */
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 35px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 200px;
  padding-bottom: 100px;
  background-color: #1f2833;
}

.resume-projects-ul li {
  color: #66fcf1;
  margin-top: 50px;
  text-align: center;
  font-size: 25px;
  margin-left: 15%;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.project-resume-title {
  text-align: center;
  margin-top: 50px;
  color: #66fcf1;
  font-family: Arial, Helvetica, sans-serif;
}

.project-resume-title2 {
  -webkit-animation-name: project-resume-title-slide;
  -webkit-animation-duration: 1.7s;
  animation-name: project-resume-title-slide;
  animation-duration: 1.7s;
}

@-webkit-keyframes project-resume-title-slide {
  from {
    margin-right: -5600px;
  }
  to {
    text-align: center;
  }
}

@keyframes project-resume-title-slide {
  from {
    margin-right: -5600px;
  }
  to {
    text-align: center;
  }
}

.resume-projects2 {
  -webkit-animation-name: resume-slide;
  -webkit-animation-duration: 1s;
  animation-name: resume-slide;
  animation-duration: 1s;
}

@-webkit-keyframes resume-slide {
  from {
    margin-right: -5600px;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes resume-slide {
  from {
    margin-right: -5600px;
  }
  to {
    margin-left: 0%;
  }
}

.resume-resume {
  width: 300px;
  border: solid 1px #66fcf1;
}

.resume-resume:hover {
  cursor: pointer;
}

.resume-resume2 {
  text-align: center;
  width: 650px;
}

.project-project {
  width: 300px;
  height: 388px;
  border: solid 1px #66fcf1;
}

.project-project:hover {
  cursor: pointer;
}
.projects-title {
  font-size: 25px;
}

.resume-title {
  font-size: 25px;
}

.modal-main {
  position: fixed;
  width: 0%;
  height: 25%;
  top: 7%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close {
  z-index: 9999;
  color: black;
  margin-left: -95%;
  margin-top: 30%;
  /* margin-top: 50px; */
  padding: 5px;
}

.modal-close:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.contact-title {
  text-align: center;
  font-size: 35px;
  margin-top: 150px;
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-title2 {
  -webkit-animation-name: contact-title-slide;
  -webkit-animation-duration: 4s;
  animation-name: contact-title-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes contact-title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    text-align: center;
  }
}

@keyframes contact-title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    text-align: center;
  }
}

.contact-form {
  margin-top: 30px;
  text-align: center;
  vertical-align: center;
  margin-bottom: 250px;
}

.contact-title-p {
  text-align: center;
}

input {
  width: 30%;
  margin: auto;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
}

.message {
  padding: 30px;
  width: 27.5%;
}

.graph-cont {
  margin-left: 35%;
  margin-top: -475px;
}

.bar {
  height: 30px;
  max-width: 450px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: #66fcf1;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #66fcf1;
}
.bar::after {
  content: "";
  background: #0b0c10;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.bar1::after {
  max-width: 90%;
}

.bar2::after {
  max-width: 90%;
}

.bar3::after {
  max-width: 85%;
}

.bar4::after {
  max-width: 75%;
}

.bar5::after {
  max-width: 60%;
}

.bar6::after {
  max-width: 70%;
}

.bar7::after {
  max-width: 60%;
}

.bar8::after {
  max-width: 80%;
}
