.ul {
  list-style-type: none;
  overflow: hidden;
  background-color: red;
  width: 100%;
  margin-left: -30px;
}

.last {
  margin-right: 100px;
}

.first {
  margin-left: 80px;
}

.nav-options {
  float: right;
}

.nav-options a {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-home {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.nav-home a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.about {
  padding-top: 100px;
  margin-top: -10px;
  padding-bottom: 500px;
  width: 100%;
  padding-left: 15px;
  margin-left: -7px;
  background-color: white;
}

.info {
  margin-top: 15%;
  margin-left: 25%;
}
.info2 {
  margin-left: 25%;
}
.info3 {
  margin-left: 25%;
}
.info4 {
  margin-left: 25%;
}
.info5 {
  margin-left: 25%;
}
.info6 {
  margin-left: 25%;
}

.css-typing p {
  font-family: "Courier";
  font-size: 14px;
  width: 50em;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
}

.css-typing p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 19.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: type 5s steps(60, end);
  animation: type3 5s steps(46, end);
  -webkit-animation-delay: 10s;
  animation-delay: 23.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  from {
    width: 0;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}

span {
  animation: blink 1s infinite;
}

@keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type5 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type6 {
  0% {
    width: 0;
  }
  from {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* ----=Home=---- */

.home {
  /* width: 100%;
  padding-top: 500px;
  padding-bottom: 500px; */
}

.home-title2 {
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: title-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

@keyframes title-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 0px;
  }
}

.my-skills {
  margin-top: 100px;
  margin-left: 10%;
}

.my-skills2 {
  -webkit-animation-name: skills-slide; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: skills-slide;
  animation-duration: 1.5s;
}

.skills-list li {
  text-align: center;
  font-size: 25px;
  margin-right: 4%;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.fast {
  margin-left: -20px;
}

.fast-icon {
  padding: 16px 16px 16px 16px;
  background-color: blue;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.fast2 {
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.responsive {
  margin-left: -10px;
}

.responsive-icon {
  padding: 16px 16px 16px 16px;
  background-color: blue;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.responsive2 {
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.intuitive {
  margin-left: -10px;
}

.intuitive-icon {
  padding: 16px 16px 16px 16px;
  background-color: blue;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.intuitive2 {
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

.dynamic {
  margin-left: -6px;
}

.dynamic-icon {
  padding: 16px 16px 16px 16px;
  background-color: blue;
  margin-left: -18px;
  width: 100px;
  z-index: 9999;
  color: white;
}

.dynamic2 {
  font-size: 15px;
  width: 230px;
  margin-top: -20px;
}

@-webkit-keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

@keyframes skills-slide {
  from {
    margin-left: -1600px;
  }
  to {
    margin-left: 10%;
  }
}

.my-image {
  margin-left: 20%;
}

.me {
  margin-top: 100px;
  width: 300px;
  border: solid 1px black;
}

.me-title {
  margin-top: 0px;
  font-size: 25px;
  margin-left: 8%;
}

.me-description {
  margin-top: -20px;
  font-size: 15px;
  width: 300px;
  text-align: center;
}

.chart {
  margin-left: 47%;
  margin-top: -444px;
}

.resume {
  margin-top: 30px;
  padding-top: 500px;
  padding-bottom: 500px;
  background-color: grey;
}
